*
{
    *direction: rtl;
}
.container
{
    *border: 1px solid #ccc;
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.container .box-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.container .box-form form
{

}

.container .box-form form input
{

}


/************************************/

.container .box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container .box .box-preview
{
    position: relative;
}

.container .box .box-preview span {
    position: absolute;
    cursor: move;
    font-size: 20pt;
}

#preview
{
    width: 100%;
}

.tools
{
    height: 30px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.tools i
{
    cursor: pointer;
}

/************************/
#canvas {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
}

.draggable-text
{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
    font-size: 30px;
    color: black;
}


.selection-box {
    position: absolute;
    border: 2px dashed #000;
    pointer-events: none;
}